# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\suleimenova\Documents\kolesa-upgrade\kolesa-upgrade\Урок 4. Старт в Codeception\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
